body {
    background-color: khaki;
}
.photos {
    display: flex;
    justify-content: center;
}
.section-style {
    margin-right: 25px;
    margin-left: 25px;
}
p {
    background-color: white;
}
div {
    margin-top: 15px;
}
img {
    width: 300px;
}